In [5]:
import pandas as pd
import numpy as np
import random
import re
import pickle
import os
from nltk.tokenize.treebank import TreebankWordDetokenizer

In [8]:
marked_data_folder = 'AllWord2VecV1Watermarked/'
unmarked_data_folder = 'AllWord2VecV1Unmarked/'

In [19]:
unmarked = []
watermarked = []

for file in sorted(os.listdir(marked_data_folder)):
    if file.lower().endswith('.pkl'):
        with open(marked_data_folder + file, 'rb') as fileobj:
            watermarked.extend(pickle.load(fileobj))
        
for file in sorted(os.listdir(unmarked_data_folder)):
    if file.lower().endswith('.pkl'):
        with open(unmarked_data_folder + file, 'rb') as fileobj:
            unmarked.extend(pickle.load(fileobj))

In [23]:
if len(unmarked) != len(watermarked):
    print("Size mismatch")
    
print(len(watermarked))
print(len(unmarked))

136008
136008

In [5]:
zero_len = int(len(watermarked) / 2)
labels = [0] * zero_len + [1] * (len(watermarked) - zero_len)
random.shuffle(labels)

In [6]:
len(labels)

53713

In [7]:
len(watermarked)

53713

In [8]:
final_list = []

for i in range(len(watermarked)):
    if labels[i] == 1:
        final_list.append(TreebankWordDetokenizer().detokenize(watermarked[i]))
        
    if labels[i] == 0:
        final_list.append(TreebankWordDetokenizer().detokenize(unmarked[i]))
        
split_test_data_dict = full_dictionary = {"text": final_list, "marked": labels}
split_test_data = pd.DataFrame.from_dict(split_test_data_dict)

In [9]:
split_test_data

                                                    text  marked
0      the fulton county grand jury said friday an in...       1
1      the jury further said in term-end presentments...       1
2      the september-october term jury had been charg...       0
3      "only a relative handful of such reports was r...       0
4      the jury said it did find that many of georgia...       1
...                                                  ...     ...
53708  my advice, if you live long enough to continue...       1
53709          as you can counting on me to do the same.       1
53710  the doors of the d train slid shut, and as i d...       1
53711  she was a living dolls and no mistake--the blu...       1
53712  from what i was able to gauge in a swift, gree...       0

[53713 rows x 2 columns]

In [15]:
split_test_data.to_csv('SplitWord2VecDataV2.csv')